#blockGauche{
	position:relative;
}
.menu_admin_immo_navigation ul{
    padding: 0;
	margin: 0;
	border: 1px solid #666;
	border-bottom: none;
	background: #ddd;
    width: 268px;
}

.menu_admin_immo_navigation ul ul, .menu_admin_immo_navigation ul ul ul{
    padding: 0;
	margin: 0;
	width: 269px;
	border: 1px solid #666;
	border-bottom: none;
	background: #ddd;
	position: absolute;
	top: -1px;
	left: 269px;
	display: none;
}

.menu_admin_immo_navigation ul li, 
.menu_admin_immo_navigation ul li ul li, 
.menu_admin_immo_navigation ul li ul li ul li {
	position: relative;
	list-style: none;
	border-bottom: 1px solid #666;
	height: auto;
	line-height: 20px;
}

.menu_admin_immo_navigation li:hover {
	background: #666;	
}
.menu_admin_immo_navigation li a, 
.menu_admin_immo_navigation ul ul li a, 
.menu_admin_immo_navigation ul ul ul li a, 
.menu_admin_immo_navigation ul.rang1 li.smenu ul.rang2 a, 
.menu_admin_immo_navigation ul.rang1 li.smenu ul.rang2 li.smenu ul.rang3 a {
	color: #666;
}

.menu_admin_immo_navigation li a:hover, 
.menu_admin_immo_navigation ul ul li a:hover, 
.menu_admin_immo_navigation ul ul ul li a:hover, 
.menu_admin_immo_navigation ul.rang1 li.smenu ul.rang2 a:hover, 
.menu_admin_immo_navigation ul.rang1 li.smenu ul.rang2 li.smenu ul.rang3 a:hover, 
.menu_admin_immo_navigation ul.rang1 li.smenu:hover a, 
.menu_admin_immo_navigation ul.rang1 li.smenu ul.rang2 li.smenu:hover a {
	color: #FFF;
}
.menu_admin_immo_navigation li a { 
	text-decoration: none;
	padding: 4px 8px;
	display: block;
	width: auto;
	height: 100%;
	line-height: 20px;
}
.menu_admin_immo_navigation ul.rang1 li.smenu:hover ul.rang2, 
.menu_admin_immo_navigation ul.rang2 li.smenu:hover ul.rang3 {
	display: block;
}




.menu_admin_immo_navigation li{

}

